<p id="notice"><%= notice %></p>

<h1>Units</h1>

<% unless @units.nil? %>
  <table style="border: 1px solid black">
    <thead style="border: 1px solid black">
      <tr>
        <th>Price</th>
        <th>Name</th>
        <th>Description</th>
        <th>Area</th>
        <th>Uom</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @units.each do |unit| %>
        <tr>
          <td><%= unit.price %></td>
          <td><%= unit.name %></td>
          <td><%= unit.description %></td>
          <td><%= unit.area %></td>
          <td><%= unit.uom %></td>
          <td><%= link_to 'Show', unit %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
