<p id="notice"><%= notice %></p>

<h1>Units</h1>

<table style="border: 1px solid black">
  <thead>
    <tr>
      <th>Price</th>
      <th>Name</th>
      <th>Description</th>
      <th>Area</th>
      <th>Uom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <h2>Units from the API:</h2>
  <%= @stream1 unless @stream1.nil? %>

  <h2>Units PARSED:</h2>
    <% unless @stream.blank? %>
      <% @stream.each do |line| %>
        PRICE: <%= line["name"] %><br>
        CLASS: <%= line["name"].class %><br>
      <% end %>
      NEW LINE<br>
    <% end %>
<hr>
  <h2>Clean units:</h2>
  <%= @clean_units unless @clean_units.nil? %>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.price %></td>
        <td><%= unit.name %></td>
        <td><%= unit.description %></td>
        <td><%= unit.area %></td>
        <td><%= unit.uom %></td>
        <td><%= link_to 'Show', unit %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
